html,
body {
	height: 100%;
}

#wrap {
	min-height: 88%;
	height: auto;
	margin: 0 auto -50px;
	padding-bottom: 50px;
}
.dashboard{
	padding: 1em;
	border: 1px solid #2C3E50;
	border-radius: 8px;
	background: #cbe4f6;
}
#content{
	margin-bottom: 3em;
}

.inline-submit{
	margin-top: .9em;
}
.checkbox{
	margin-left: 1.1em;
}

.required:before{
	content: "*";
	color: #E74C3C;
	font-weight: 500;
	margin-right: 5px;
}

td .alert{
	margin: 10px auto;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 101%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}

.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

a.dismiss{
	position: absolute;
	top: 0;
	right: 1%;
	font-size: 2em;
}

.white_content .btn{
	margin-top: 1.7em;
}
footer {
  	background-color: #f5f5f5;
	padding: 1em;
}

footer div {
    line-height: 50px;
}
footer p {
    margin: 0;
}
.bold {
	font-weight: bold;
}
.filter{
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
	margin:10px 10px 10px 0;
}
.table td.right{
text-align: right;

}
div.table_container {	
width: 600px;
}

.small-dropdown{ 
max-width: 275px; 
}

.block{
	display: block;
}