table.tablesorter thead th, table.tablesorter thead td, table.tablesorter tfoot th, table.tablesorter tfoot td{
	background: #2C3E50;
	border: 1px solid #FFF;
    color:#fff;
	
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: 98% center;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
.table {
    margin: 20px 0px;
    width: 100%;
	background: #fff;
}
table.tablesorter tbody tr{
	border-bottom: 2px solid #ccc;
}
.table input{
	margin: .5em auto;
	max-width: 85px;
}
tbody td.total h4{
	padding-top: .5em;
}
.table th, .table td {
    border-top: 1px solid #ccc;
    line-height: 1.25em;
    padding: .5em;
    text-align: left;
    vertical-align: top;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background: #ECF0F1;
}
td.center, th.center {
    text-align: center;
}
td.small, th.small {
    width: 8em;
}